MORALIS_API_KEY=put_your_moralis_api_key_here
GOPLUS_API_KEY=put_your_goplus_api_key_here
COINGECKO_PRO_API_KEY=put_your_coingecko_pro_api_key_here
VK_ACCESS_TOKEN=put_your_vk_service_or_user_token_here
VK_API_VERSION=5.199
VK_WALL_DOMAIN=mta.miami
VK_WALL_POST_COUNT=6
VK_WALL_CACHE_TTL_MS=60000
SUPPORT_CHAT_ADMIN_TOKEN=put_a_long_random_admin_token_here
SUPPORT_CHAT_OPERATOR_NAME=Support
SUPPORT_CHAT_MAX_CONVERSATIONS=1500
SUPPORT_CHAT_MAX_MESSAGES=200
